@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Raleway:300,400,500,700');

section h2{
	margin: 5px 0px;
}

.condition-wrapper{
	width: 90%;
	margin: auto;
}

.condition-section{
	display: grid;
	grid-template-rows: repeat(4, auto);
	justify-content: center;
	width: 100%;
}

.condition-subtitle{
	grid-template-rows: 2 / 3;
	font-size: 1em;
	font-weight: 700;
	margin: 5px auto;
}

.selected-condition {
	opacity: 1; 
	font-weight: bold;
}

.unselected-condition {
	opacity: 0.25;
	font-weight: normal;
}

.conditions-list {
	grid-row: 3 / 4;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.8em;
	list-style-type: none;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 10px 0px;
}

.condition-search-button{
	grid-row: 4 / 5;
	margin: 20px 0px 40px 0px;
}

.conditions-list li {
    width: 100px;
    text-align: center;

}

.conditions-list li img {
    height: 80px;
    width: auto;
    margin-bottom: 5px;
}

.conditions-list li:hover {
	cursor: pointer;
}

.conditions-list li:hover div{
	font-weight: bold;
}

.conditions-list li:hover img{
	opacity: 1; 
}

.general-guideline-wrapper{
	width: 100%;
	margin-bottom: 40px;
}

.recharts-wrapper{
	width: 100%;
}

.general-guideline-description p{
	font-weight: 500;
}

.recipe-cards-container{
	display: grid;
	grid-row-gap: 30px;
	width: 85%;
	margin: auto;
}

.recipe-cards-container>div{
	width: 100%;
	margin: auto;
}

/* ****************/
/* Desktop Layout */
/* ************** */

@media screen and (min-width: 800px) {

.condition-wrapper{
	max-width: 1000px;
	margin: auto;
}

.condition-wrapper section{
	margin: 15px 0px;
	padding: 1px 0px;
}

.condition-wrapper section h2{
	margin: 0px;
	text-align: left;
	margin-bottom: 15px;
}

.condition-section{
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(2, auto);
	margin-bottom: 40px;
	width: 100%;
	justify-content: stretch;
}

.condition-section-header{
	width: 100%;
	grid-column: 1 / 2;
	text-align: left;
}

.condition-subtitle{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	text-align: left;
	margin: 0px;
	line-height: 1em;
	font-weight: 400;
}

.condition-search-button{
	grid-row: 1 / 3;
	grid-column: 2 / 3;
	margin: 10px 0px;
}

.conditions-list {
	
	grid-column: 1 / 3;
	grid-row: 3 / 4;
	justify-content: space-evenly;
}


.general-guideline-wrapper{
    display: grid;
    grid-template-columns: 400px auto;
		margin-bottom: 0px;
}

.search-recipe-button{
    align-self: center;
    justify-self: end;
}

.general-guideline-description{
	text-align: left;
	font-weight: 500;
}

.related-recipes-section{
	width: 100%;
	margin: auto;
}

.related-recipes-section .recipe-list{
	width: 100%;
	margin: auto;
}

.recipe-cards-container{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-bottom: 10px;
}

}