.search-form-div {
		margin: 40px 0px 30px 0px;
    display: grid;
    grid-template-rows: repeat(3, auto);
}


.search-input{

	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	line-height: 1;
	border: none;
	border-bottom: grey solid 2px;
	padding: 5px;
	margin: 0px 5px;

}

.search-button{
	width: 150px;
}

.search-input:focus{
  outline-color: white;
}

.button-suggestions{
	margin: 10px 20px;
}

.search-field-container{
    display: grid;
    grid-template-columns: 30px 1fr;
		margin: 30px 10px;
}

.what-ingredient-p{
	font-weight: 700;
}

/* ****************/
/* Desktop Layout */
/* ************** */

@media screen and (min-width: 800px) {

.search-wrapper{
	max-width: 1000px;
	margin: auto;
	padding: 40px 40px;
}
.search-form-div {
		width: 100%;
		margin: 10px 0px;
    grid-template-columns: 180px 1fr 110px;
		align-items: center;
}

.search-form-label{
	text-align: start;
}

.search-button{
	width: auto;
	padding: auto 25px;
	align-self: flex-end;
}

.search-field-container{
	margin-left: 0px;
	margin-right: 0px;
}

.what-ingredient-p{
	font-weight: 500;
	text-align: start;
}

.suggestions-div{
	margin: 30px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.button-suggestions{
	margin: 0px;
}

.search-wrapper .search-list {
	margin: 20px 0px;
}

.search-wrapper .recipe-list{
	width: 100%;
}
}