.recipe-header{
	display: grid;
	grid-template-rows: repeat(3,auto);
	margin: 30px 0px;
}

.recipe-img-container{
	grid-row: 1 / 2;
}

.recipe-img{
	width: 100%;
	height: auto;
}

.recipe-data-container{
	grid-row: 2 / 3;
	display: grid;
	grid-template-rows: repeat(5, auto);
}

.recipe-name{
	text-align: center;
	color: #444444;
	margin: 10px;
	font-weight: 700;
}

.recipe-source{
	text-align: center;
	margin: 5px;
}

.recipe-source a{
	color: #444444;
	font-weight: 500;
}

.recipe-share-rating-div{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
}

.share-icon{
	justify-self: center;
}

.share-icon:hover{
	cursor: pointer;
}

.recipe-rating{
	justify-self: start;
}

.recipe-rating-stars{
	width: 100px;
}
.recipe-time-ingred-div{
	display: grid;
	grid-template-columns: 1fr 2px 1fr;
	grid-template-rows: 65px auto;
	justify-items: center;
}

.preparation-time{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	width: 60px;
}

.recipe-total-time{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	font-size: 0.9rem;
	margin: 5px 0px;
}

.separator{
	grid-column: 2 / 3;
	grid-row: span 2;
	border-left: solid 2px #D3D3D3;
}

.recipe-total-ingredients-number{
	grid-column: 3/ 4;
	grid-row: 1 / 2;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	font-size: 5rem;
	color: #ff8500;
	margin: 0;
	line-height: 3rem;
}

.recipe-total-ingredients {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	font-size: 0.9rem;
	margin: 0;
}

.recipe-instructions{
	text-align: center;
	margin: 20px 0px;
	text-align: center;
}

.recipe-instructions-button {
	padding: 10px 25px;
	border-width: 3px;
	border-style: solid;
  border-radius: 40px;
	text-align: center;
  vertical-align: middle;
	border-color: #ff8500;
  background-color: #ff8500;
	width: 210px;
	margin: auto;
}

.recipe-instructions-button:hover {
	cursor: pointer;
}

.recipe-instructions-button a {
	font-family: Quicksand, sans-serif;
	color: white;
	font-size: 1.3em;
	line-height: 0.5em;
	font-weight: 700;
	text-decoration: none;
}

.recipe-instructions-button a:hover {
	cursor: pointer;
}

.recipe-attribution{
	font-size: .8em;
	display: inline-block;
	text-align: center;
	margin: 5px 0px;
}

.recipe-attribution img{
	margin-bottom: -10px;
	margin-left: -3px;
}

.horizontal-separator{
	width: 40%;
	border: 1px solid	#D3D3D3;
	background-color: #D3D3D3;
}

.recipe-ingredient-heading{
	text-align: center;
	margin: 10px 0px;
}

.ingredients-image{
	height: 37px;
	margin-right: 3px;
	/* padding: 5px 0px; */
}

.ingredients-list{
	width: 70%;
	margin: 15px auto;
	text-align: left;
}


.total-servings{
	text-align: center;
}

.favourite-div{
    text-align: center;
}

.nutrition-facts-image{
	height: 31px;
	margin-right: 5px;
	margin-bottom: -5px;
}

.recipe-nutrition-facts-heading{
	text-align: center;
	margin: 10px 0px;
	line-height: 31px;
}

.nutrition-facts-wrapper{
	display: grid;
	grid-template-rows: repeat(2, auto);
	justify-items: center;
}

.calories-level{
	width: 400px;
	margin-bottom: 30px;
}

.calories-chart{
	display: grid;
	width: 100%;
	justify-items: center;
}

.calories-info{
	text-align: center;
	font-weight: 700;
}

.nutrients-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}

.nutrient-level{
    width: 100px;
    margin: 10px;   
}

.nutrient-info{
    text-align: center;
}

.favourite-div{
	display: grid;
	justify-content: center;
}

.recipe-list h2{
	text-align: center;
	margin: 20px 0px;
}

.recipe-cards-container{
	display: grid;
	grid-row-gap: 30px;
	width: 85%;
	margin: auto;
}

.recipe-cards-container>div{
	width: 100%;
	margin: auto;
}

div[class*="RecipeCard-media-"]{
	height: 70px;
	border-radius: 15px;
	background-color:#F8F8F8;
}

div[data="recipe-card-content"]{
	background-color: #F8F8F8;
	padding: 10px;
	height: 80px;
}

p[data="recipe-card-name"]{
	text-align: left;
	font-family: Raleway, sans-serif;
	color: #202020;
	font-weight: 700;
	font-size: 1.2em;
	margin: 5px 0px;
}

p[data="recipe-card-author"]{
	text-align: left;
	font-family: Raleway, sans-serif;
	color: #202020;
	font-weight: 700;
}

.recipe-card-rating{
	grid-column: 5 /7;
	display: flex;
	align-items: center;
	text-align: left;
	font-family: Quicksand, sans-serif;
	color: #202020;
}

div[data="recipe-card-footer"]{
	color:#F8F8F8;
	/* opacity: .55; */
	height: 50px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	padding: 5px;
	background-color: #F8F8F8;
}

div[data="recipe-card-footer"] button{
	color: #757575;
}

div[data="recipe-card-footer"] svg{
	color: #757575;
	margin-left: 3px;
}


.more-button-container{
    display: grid;
}

.more-button{
    color: #ff8500;  
    font-size: 1em;
    font-family: 'Quicksand', sans-serif; 
    text-decoration-line: underline;
    font-weight: bold;
    background-color: transparent;
    border: none;
    justify-self: center;
		margin: 10px;
} 

.top-button{
    background-color: transparent;
    border: none;
    justify-self: end;
    align-self: center;
    justify-self: end;
    margin-top: 10px;
}
.top-button-container{
    display: grid;
		width: 80%;
		margin: auto;
}

/* ****************/
/* Desktop Layout */
/* ************** */

@media screen and (min-width: 800px) {

.recipe-header{
	display: grid;
	grid-column-gap: 40px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(2, auto);
	width: 90%;
	margin: auto;
}

.recipe-data-container{
	grid-row: 1 / 3;
	grid-column: 1 / 2;
	grid-template-rows: auto 24px auto auto;
	grid-template-columns: repeat(2, fr);
}

.recipe-img-container{
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

.recipe-attribution{
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.recipe-name{
	grid-row: 1 / 2;
	grid-column: 1 / 3;
	text-align: left;
	margin-left: 0px;
	margin-bottom: 0px;
}

.recipe-source{
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	text-align: left;
	margin-left: 0px;
	align-self: center;

}

.recipe-share-rating-div{
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	height: 20px;
}

.recipe-rating{
	margin: 0px;
}

.recipe-time-ingred-div{
	grid-row: 3 / 4;
	grid-column: 1 / 2;
	margin-top: 15px;
}

.recipe-instructions{
	grid-row: 4 / 5;
	grid-column: 1 / 2;
}

.recipe-img {
	border-radius: 25px;
}

.horizontal-separator{
	display: none;
}

.recipe-ingredients-list{
	width: 90%;
	margin: auto;
}

.recipe-ingredient-heading{
	text-align: left;
}

.total-servings{
	text-align: left;
}

.ingredients-list{
	width: 100%;
	text-align: left;
	margin: 0px;
}

.recipe-nutrition-facts{
	width: 90%;
	margin: auto;
}

.recipe-nutrition-facts-heading{
	text-align: left;
}

.nutrition-facts-wrapper{
	grid-template-rows: 1fr;
	grid-template-columns: 300px auto;
}

.calories-level{
	width: 300px;
	margin-bottom: 30px;
}

.favourite-div{
	width: 90%;
	margin: auto;
	justify-content: end;
}

.recipe-list{
	width: 90%;
	margin: auto;
}

.recipe-list h2{
	text-align: left;
}

.recipe-cards-container{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-bottom: 10px;
}

.more-button{
	justify-self: end;
}

.top-button-container{
	width: 100%;
	margin: auto;
}

}